<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for product in all_products %}
        <p>{{product.name}}</p>
        <p>{{product.inventory.quantity}}</p>
        {% if product.sale and product.sale|length > 0 %}
            <p>{{ product.sale[0].sale_date }}</p>
        {% else %}
            <p>No sales yet</p>
        {% endif %}

        {%if product.lowstock%}
            <p>{{product.name}} is low stock</p>
        <br>
    <br>
        {%endif%}
    {%endfor%}
</body>
</html>